@model IEnumerable<Event_Managment_System.Models.Blogs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container-fluid p-4">

    <h1>Blogs List</h1>

    <p>
        <a class="btn btn-success text-white" asp-action="Create">Create New</a>
    </p>
    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(item.Title.Length > 35
                            ? item.Title.Substring(0, 35) + "..."
                            : item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <img src="~/Dashboard/BlogImages/@Html.DisplayFor(modelItem => item.ImagePath)" width="80px" height="60px" alt="BlogImage" />
                       
                    </td>
                    <td>
                        <a class="btn btn-warning text-dark" asp-action="Edit" asp-route-id="@item.BlogId">Edit</a>
                        <a class="btn btn-primary text-white" asp-action="Details" asp-route-id="@item.BlogId">Details</a>
                        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


